@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/* Example: Add hover effect */
.logo-container img {
  transition: transform 0.3s ease;
}

.logo-container:hover img {
  transform: scale(1.1); /* Slightly enlarge on hover */
}
/* global.css */

/* Target only the images inside the logo-container */
.logo-container img.paused {
  animation-play-state: paused;
}

.logo-container img.playing {
  animation-play-state: running;
}
